.tweet_header {
	background-color: lightgray;
	text-align: center;
}

.tweets_model_header {
	text-align: center;
}

.pagination {
	margin-left: 25%;
}

highlight {
	background-color: yellow;
}

.card {
	box-shadow: 5px 10px gray;
}

.dropdown {
	display: inline;
	padding-left: 5px;
}